In [3]:
import pandas as pd

In [88]:
import numpy as np

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 11.8 MB/s
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [13]:
df = pd.read_excel("data/data.xlsx")

In [131]:
df.head(100)

,Id,1,2,3,4,5,6,7,8,9,...,391,392,393,394,395,396,397,398,399,400
0,weights,0.002796,0.002899,0.000054,0.002344,0.003491,0.002549,0.004951,0.002378,0.000904,...,0.001065,0.004801,0.001638,0.000421,0.004446,0.000512,0.000854,0.003724,0.001422,0.001420
1,Prices,0.998298,0.984929,0.991066,0.996109,0.992119,0.996463,0.989951,0.999647,0.981646,...,1.001270,0.991419,0.990718,0.997129,0.988841,1.012761,0.999658,0.991372,0.991538,0.995323
2,NaN,1.014242,0.999267,1.000821,1.006122,1.009109,1.004130,1.008746,0.998345,0.996702,...,0.978943,0.981339,0.983007,0.988737,0.971709,0.995107,0.988950,0.983710,0.965572,0.981949
3,NaN,1.016452,0.997590,1.009427,1.004522,0.993548,1.000732,1.005858,0.999801,0.990269,...,0.977654,0.978485,0.980995,0.984587,0.958604,1.016135,0.998694,0.990234,0.980965,0.976979
4,NaN,1.026396,1.001590,1.012755,0.993837,0.977115,0.982934,0.979573,1.009673,0.983879,...,0.985047,0.977010,0.973683,0.983681,0.939619,0.995425,0.982978,0.976724,0.968688,0.975532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,0.814031,0.783313,0.752278,1.381078,1.034259,0.758331,0.854496,0.883559,0.831575,...,1.122696,0.982233,0.959471,0.727250,0.946168,0.997923,0.792852,0.782316,0.954216,0.765505
96,NaN,0.764463,0.734190,0.722592,1.303662,0.995283,0.699169,0.818562,0.850555,0.788066,...,1.106662,0.964862,0.985667,0.732882,0.938351,0.958691,0.753555,0.788785,0.957753,0.761982
97,NaN,0.760969,0.725874,0.717483,1.291246,1.008965,0.706966,0.797366,0.839509,0.776756,...,1.098831,0.962814,0.993720,0.721229,0.939175,0.936313,0.735210,0.792340,0.961648,0.767716
98,NaN,0.695532,0.670076,0.684283,1.196475,0.959150,0.626445,0.758479,0.800990,0.716531,...,1.069857,0.929471,1.033292,0.725587,0.937993,0.859029,0.672257,0.797073,0.963731,0.795576
99,NaN,0.678316,0.652218,0.705982,1.178540,0.968796,0.582080,0.743281,0.786618,0.700745,...,1.083242,0.935895,1.038842,0.724233,0.940919,0.883194,0.691863,0.798668,0.971827,0.802743

In [176]:
t=2

In [177]:
weight_t = df.iloc[0, t]

In [178]:
weight_t

0.0028985055163313835

In [179]:
prices = df.iloc[1:,t-1:t+1]

In [180]:
prices

             1         2
1     0.998298  0.984929
2     1.014242  0.999267
3     1.016452  0.997590
4     1.026396  1.001590
5     1.026047  1.002618
...        ...       ...
4102  0.787123  3.483180
4103  0.796264  3.552063
4104  0.797241  3.515280
4105  0.818499  3.642805
4106  0.810928  3.597481

[4106 rows x 2 columns]

In [181]:
p = prices[t]

In [182]:
p_1 = prices[t-1]

In [191]:
np.ones(prices[t].shape)

array([1., 1., 1., ..., 1., 1., 1.])

In [183]:
underlying_securities = p/p_1- 1

In [197]:
underlying_securities

1      -0.013392
2      -0.014764
3      -0.018557
4      -0.024168
5      -0.022834
          ...
4102    3.425205
4103    3.460912
4104    3.409306
4105    3.450590
4106    3.436250
Length: 4106, dtype: float64

In [196]:
weight * underlying_securities

1      -0.000039
2      -0.000043
3      -0.000054
4      -0.000070
5      -0.000066
          ...
4102    0.009928
4103    0.010031
4104    0.009882
4105    0.010002
4106    0.009960
Length: 4106, dtype: float64

In [127]:
index_return = np.sum(weight * underlying_securities)

In [194]:
def compute_price(data, t):
    if t == 0:
        return 100
    else:
        return compute_price(data, t - 1) * (1 + compute_returns(data, t))


def compute_returns(data, t):
    weight = data.iloc[0, t]
    prices = data.iloc[1:, t-1:t+1]
    underliying_securities = compute_underlying_securities(prices, t)
    return np.sum(weight * underliying_securities)


def compute_underlying_securities(prices, t):
    if t-1 > 0:
        return prices[t] / prices[t-1] - 1
    else:
        return prices[t] - 1

In [200]:
compute_price(df, 100)

-3.456752934045754e+84